.nav-no-margin {
	margin: 0px;
}

.map-container {
	position: relative;
}

#map {
	position: absolute;
}

.bg-dusky {
	background-color: #eee;
}

.container {
	padding: 15px;
	margin: 10px auto;
}

@media (min-width: 300px) {
	.container {
		width: 270px;
	}
	#map {
		width: 240px;
		height: 200px;
	}
}

@media (min-width: 500px) {
	.container {
		width: 480px;
	}
	#map {
		width: 420px;
		height: 360px;
	}
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
	#map {
		width: 600px;
		height: 540px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 978px;
	}
	#map {
		width: 680px;
		height: 480px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
	#map {
		width: 800px;
		height: 480px;
	}
}

@media (min-width: 1350px) {
	.container {
		width: 1320px;
	}
	#map {
		width: 840px;
		height: 540px;
	}
}